includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    ignoreErrors:
        - '#Cannot call method get() on Illuminate\Config\Repository|null\.#'
        - '#Cannot call method set() on Illuminate\Config\Repository|null\.#'
    paths:
        - src
